services:
  # This is the knowledge directory, facilitating discovery between different
  # runtimes. It exposes its service over port 8282.
  knowledge-directory:
    image: ghcr.io/tno/knowledge-engine/knowledge-directory:1.3.0
    ports:
     - "8282:8282"

  # These services are seperate Knowledge Engine runtime, which can host
  # multiple smart connectors. Note that the REST API port is a DIFFERENT port
  # number than the ones configured below. It is still the default 8280.
  runtime-1:
    build: .
    ports:
      - "8001:8280"
      - "8000:8000"
    #to allow configuring iptables
    cap_add:
      - NET_ADMIN
    environment: 
      KE_RUNTIME_PORT: 8081 # The port that the KE uses to listen for inter-KE-runtime communication.
      KE_RUNTIME_EXPOSED_URL: http://runtime-1:8081 # The URL where the runtime is available for inter-runtime communication from the outside.
      KD_URL: http://knowledge-directory:8282
      JAVA_TOOL_OPTIONS: "-Djdk.httpclient.keepalive.timeout=1 -agentlib:jdwp=transport=dt_socket,address=0.0.0.0:8000,server=y,suspend=n"
  runtime-2:
    build: .
    cap_add:
      - NET_ADMIN
    environment: 
      KE_RUNTIME_PORT: 8081
      KE_RUNTIME_EXPOSED_URL: http://runtime-2:8081
      KD_URL: http://knowledge-directory:8282
      JAVA_TOOL_OPTIONS: "-Djdk.httpclient.keepalive.timeout=1"
    extra_hosts:
      - "host.docker.internal:host-gateway"
  runtime-3:
    build: .
    cap_add:
      - NET_ADMIN
    environment: 
      KE_RUNTIME_PORT: 8081
      KE_RUNTIME_EXPOSED_URL: http://runtime-3:8081
      KD_URL: http://knowledge-directory:8282
      JAVA_TOOL_OPTIONS: "-Djdk.httpclient.keepalive.timeout=1"
    extra_hosts:
      - "host.docker.internal:host-gateway"     
  
  # These Knowledge Bases use the different runtimes, and exchange data with eachother.
  kb1:
    build: ../common/asking_kb
    environment:
      KB_ID: http://example.org/kb1
      KE_URL: http://runtime-1:8280/rest
      #KE_URL: http://PC-40442.local:8280/rest
      #KE_URL: http://host.docker.internal:8280/rest
      PREFIXES: |
        {
          "ex": "http://example.org/"
        }
      GRAPH_PATTERN: |
        ?a ex:relatedTo ?b .
    extra_hosts:
      - host.docker.internal:host-gateway
  kb2:
    build: ../common/answering_kb
    environment:
      KE_URL: http://runtime-2:8280/rest
      KB_ID: http://example.org/kb2
      PREFIXES: |
        {
          "ex": "http://example.org/"
        }
      GRAPH_PATTERN: |
        ?a ex:relatedTo ?b .
      KB_DATA: |
        [
          {
            "a": "<http://example.org/Math>",
            "b": "<http://example.org/Science>"
          },
          {
            "a": "<http://example.org/Books>",
            "b": "<http://example.org/Magazines>"
          }
        ]
  kb3:
    build: ../common/answering_kb
    environment:
      KE_URL: http://runtime-3:8280/rest
      KB_ID: http://example.org/kb3
      PREFIXES: |
        {
          "ex": "http://example.org/"
        }
      GRAPH_PATTERN: |
        ?a ex:relatedTo ?b .
      KB_DATA: |
        [
          {
            "a": "<http://example.org/Music>",
            "b": "<http://example.org/Songs>"
          },
          {
            "a": "<http://example.org/Red>",
            "b": "<http://example.org/Blue>"
          }
        ]
