openapi: "3.0.0"
info:
  title: InterConnect Knowledge Engine REST Developer API
  description: This API describes how Smart Connectors are instantiated, Knowledge Interactions are (un)registered and data is exchanged. Each Smart Connector is coupled with a Knowledge Base Id, so every rest call uses this Knowledge Base Id to identify yourself.
  version: 0.0.1-SNAPSHOT
servers:
  - url: http://www.interconnectproject.eu/ke
    description: Main InterConnect server
paths:
  /sc:
    put:
      summary: Create a new Smart Connector for the given Knowledge Base.
      tags:
        - smart connector life cycle
      parameters:
        - name: Knowledge-Base-Id
          in: header
          required: true
          description: The knowledge base id for whome a smart connector should be created.
          schema:
            type: string
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              type: object
              properties:
                knowledgeBaseName:
                  type: string
                knowledgeBaseDescription:
                  type: string
      responses:
        '200':
          description: If the Smart Connector for the given Knowledge Base is succesfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '400':
          description: If the creation of the Smart Connector for the given Knowledge Base failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
    delete:
      summary: Delete the Smart Connector belonging to the given Knowledge Base
      tags:
        - smart connector life cycle
      parameters:
        - name: Knowledge-Base-Id
          in: header
          required: true
          description: The knowledge base id who's smart connector should be deleted.
          schema:
            type: string
      responses:
        '200':
          description: If the Smart Connector for the given Knowledge Base is successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '404':
          description: If there is no Smart Connector for the given Knowledge-Base-Id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
  /sc/ki/ask:
    put:
      summary: Register a Ask Knowledge Interaction with the Smart Connector of the given Knowledge Base
      tags:
       - knowledge interaction
      parameters:
        - name: Knowledge-Base-Id
          in: header
          required: true
          description: The Knowledge Base Id that is registering a Knowledge Interaction.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                knowledgeInteractionType:
                  type: string
                communicativeAct: 
                  type: array
                  items:
                    type: string
                graphPattern:
                  type: string
      responses:
        '200':
          description: If the Ask Knowledge Interaction is succesfully registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  knowledgeInteractionId:
                    type: string
        '400':
          description: If the Ask Knowledge Interaction is not successfully registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '404':
          description: If a Smart Connector for the given Knowledge-Base-Id cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
    delete:
      summary: Unregister the given Ask Knowledge Interaction with the Smart Connector of the given Knowledge Base
      tags:
        - knowledge interaction
      parameters:
        - name: Knowledge-Base-Id
          in: header
          required: true
          description: The Knowledge Base id of the Knowledge Interaction that should be deleted.
          schema:
            type: string
        - name: Knowledge-Interaction-Id
          in: header
          required: true
          description: The Knowledge Interaction id of the Knowledge Interaction that should be deleted.
          schema:
            type: string
      responses:
        '200':
          description: If the Ask Knowledge Interaction is succesfully unregistered.
        '400':
          description: If unregistering the Ask Knowledge Interaction failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '404':
          description: If a Knowledge Interaction or Knowledge Interaction for the given Knowledge-Base-Id and Knowledge-Interaction-Id cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
  /sc/ki/answer:
    put:
      summary: Register an Answer Knowledge Interaction with the Smart Connector of the given Knowledge Base
      tags:
        - knowledge interaction
      parameters:
        - name: Knowledge-Base-Id
          in: header
          required: true
          description: The Knowledge Base id of the Knowledge Interaction that should be deleted.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                knowledgeInteractionType:
                  type: string
                communicativeAct: 
                  type: array
                  items:
                    type: string
                graphPattern:
                  type: string
      responses:
        '200':
          description: If the Answer Knowledge Interaction is succesfully registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  knowledgeInteractionId:
                    type: string
        '400':
          description: If registering the Answer Knowledge Interaction failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '404':
          description: If a Smart Connector for the given Knowledge-Base-Id cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
    delete:
      summary: Unregister the Answer Knowledge Interaction with the Smart Connector of the given Knowledge Base
      tags:
        - knowledge interaction
      parameters:
        - name: Knowledge-Base-Id
          in: header
          required: true
          description: The Knowledge Base id of the Knowledge Interaction that should be deleted.
          schema:
            type: string
        - name: Knowledge-Interaction-Id
          in: header
          required: true
          description: The Knowledge Interaction id of the Knowledge Interaction that should be deleted.
          schema:
            type: string
      responses:
        '200':
          description: If the Answer Knowledge Interaction is succesfully unregistered.
        '400':
          description: If unregistering the  Answer Knowledge Interaction failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '404':
          description: If a Knowledge Interaction for the given Knowledge-Base-Id and Knowledge-Interaction-Id cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
  /sc/ki/post:
    put:
      summary: Register a Post Knowledge Interaction with the Smart Connector of the given Knowledge Base
      tags:
        - knowledge interaction
      parameters:
        - name: Knowledge-Base-Id
          in: header
          required: true
          description: The Knowledge Base id of the Knowledge Interaction that should be deleted.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                knowledgeInteractionType:
                  type: string
                communicativeAct: 
                  type: array
                  items:
                    type: string
                argumentGraphPattern:
                  type: string
                resultGraphPattern:
                  type: string
      responses:
        '200':
          description: If the Post Knowledge Interaction is succesfully registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  knowledgeInteractionId:
                    type: string
        '400':
          description: If registering the Post Knowledge Interaction failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '404':
          description: If a Smart Connector for the given Knowledge-Base-Id cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
    delete:
      summary: Unregister the Post Knowledge Interaction with the Smart Connector of the given Knowledge Base
      tags:
        - knowledge interaction
      parameters:
        - name: Knowledge-Base-Id
          in: header
          required: true
          description: The Knowledge Base id of the Knowledge Interaction that should be deleted.
          schema:
            type: string
        - name: Knowledge-Interaction-Id
          in: header
          required: true
          description: The Knowledge Interaction Id of the Knowledge Interaction that should be deleted.
          schema:
            type: string
      responses:
        '200':
          description: If the Post Knowledge Interaction is succesfully unregistered.
        '400':
          description: If unregistering the Post Knowledge Interaction failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '404':
          description: If a Knowledge Interaction for the given Knowledge-Base-Id and Knowledge-Interaction-Id cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
  /sc/ki/react:
    put:
      summary: Register a React Knowledge Interaction with the Smart Connector of the given Knowledge Base
      tags:
        - knowledge interaction
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                knowledgeInteractionType:
                  type: string
                communicativeAct: 
                  type: array
                  items:
                    type: string
                argumentGraphPattern:
                  type: string
                resultGraphPattern:
                  type: string
      responses:
        '200':
          description: If the React Knowledge Interaction is succesfully registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  knowledgeInteractionId:
                    type: string
        '400':
          description: If registering the React Knowledge Interaction failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '404':
          description: If a Smart Connector for the given Knowledge-Base-Id cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
    delete:
      summary: Unregister the React Knowledge Interaction with the Smart Connector of the given Knowledge Base
      tags:
        - knowledge interaction
      parameters:
        - name: Knowledge-Base-Id
          in: header
          required: true
          description: The Knowledge Base id of the Knowledge Interaction that should be deleted.
          schema:
            type: string
        - name: Knowledge-Interaction-Id
          in: header
          required: true
          description: The Knowledge Interaction id of the Knowledge Interaction that should be deleted.
          schema:
            type: string
      responses:
        '200':
          description: If the React Knowledge Interaction is succesfully unregistered.
        '400':
          description: If unregistering React Knowledge Interaction failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '404':
          description: If a Knowledge Interaction for the given Knowledge-Base-Id and Knowledge-Interaction-Id cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
  /sc/ask:
    put:
      summary: Execute the given Ask Knowledge Interaction with the given binding set.
      tags:
        - proactive
      parameters:
        - name: Knowledge-Base-Id
          in: header
          required: true
          description: The Knowledge Base Id for which to execute the ask.
          schema:
            type: string
        - name: Knowledge-Interaction-Id
          in: header
          required: true
          description: The Ask Knowledge Interaction Id to execute.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BindingSet'
      responses:
        '200':
          description: If the ask was succesfull it returns all found variable bindings together with additional exchange info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  bindingSet:
                    $ref: '#/components/schemas/BindingSet'
                  exchangeInfos:
                    type: array
                    items:
                      $ref: '#/components/schemas/AskExchangeInfo'
        '400':
          description: If the ask failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '404':
          description: If a Knowledge Interaction for the given Knowledge-Base-Id and Knowledge-Interaction-Id cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
  /sc/post:
    put:
      summary: Execute the given Post Knowledge Interaction with the given binding set.
      tags:
        - proactive
      parameters:
        - name: Knowledge-Base-Id
          in: header
          required: true
          description: The Knowledge Base Id for which to execute the ask.
          schema:
            type: string
        - name: Knowledge-Interaction-Id
          in: header
          required: true
          description: The Post Knowledge Interaction Id to execute.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bindingSet:
                  $ref: '#/components/schemas/BindingSet'
                exchangeInfos:
                  type: array
                  items:
                    $ref: '#/components/schemas/PostExchangeInfo'
      responses:
        '200':
          description: If the post was succesfull it optionally returns all result variable bindings together with all exchange infos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BindingSet'
        '404':
          description: If a Knowledge Interaction for the given Knowledge-Base-Id and Knowledge-Interaction-Id cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
  /sc/handle:
    get:
      summary: Start waiting for a handle request for the given Knowledge Base Id.
      description: Note that this is a long polling http call. It will block until the client is expected to handle something in which case it returns. When it returns, a new request to this same endpoint should be immediately made to receive further handle requests. (*** What if one or more handle requests came in in the meantime? ***) All handle requests (both for Answer and React Knowledge Interactions) for the given Knowledge-Base-Id will be received via a single long polling http connection. The Knowledge Interaction Id can be used to distinguish between different Knowledge Interactions. <b>Maybe introduce a <i>handle request id</i> to know which handle request we are reacting to in the <i>put</i> method of this path. </b>
      tags:
        - reactive
      parameters:
        - name: Knowledge-Base-Id
          in: header
          required: true
          description: The knowledge base id from who's smart connector we are waiting for handle request.
          schema:
            type: string
      responses:
        '200':
          description: If a request to handle a particular Knowledge Interaction Id comes in with a binding set.
          content:
            application/json:
              schema:
                type: object
                properties:
                  knowledgeInteractionId:
                    type: string
                  bindingSet:
                    $ref: '#/components/schemas/BindingSet'
        '202':
          description: No problems, but please reinitiate the long polling request.
        '404':
          description: If a Knowledge Interaction for the given Knowledge-Base-Id and Knowledge-Interaction-Id cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '410':
          description: This long polling connection has stopped because the server will shut down, please do <b>not</b> reinitiate this request.
        '500':
          description: If a problem occurred. Please reinitiate this long polling http call.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
    put:
      summary: Send the answer or reaction of the last long polling handle request back to the Smart Connector of the given Knowledge-Base-Id.
      tags:
        - reactive
      parameters:
        - name: Knowledge-Base-Id
          in: header
          required: true
          description: The knowledge base id from who's smart connector we are sending a answer or reaction.
          schema:
            type: string
        - name: Knowledge-Interaction-Id
          in: header
          required: true
          description: The knowledge interaction id we react to or answer.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BindingSet'
      responses:
        '200':
          description: If the answer is successfully processed by your smart connector.
        '400':
          description: If the answer was not successfully processed by the Knowledge Base's smart connector.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '404':
          description: If a Knowledge Interaction for the given Knowledge-Base-Id and Knowledge-Interaction-Id cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
components:
  schemas:
    GeneralError:
      type: object
      properties:
        errorMessage:
          type: string
    BindingSet:
      type: array
      items:
          type: object
          properties:
            var1:
              type: string
            var2:
              type: string
    AskResult:
      type: object
      properties:
        bindingSet:
          $ref: '#/components/schemas/BindingSet'
        exchangeInfo:
          type: array
          items:
            $ref: '#/components/schemas/AskExchangeInfo'
    PostResult:
      type: object
      properties:
        resultBindingSet:
          $ref: '#/components/schemas/BindingSet'
        exchangeInfo:
          type: array
          items:
            $ref: '#/components/schemas/PostExchangeInfo'
    AskExchangeInfo:
      type: object
      properties:
        initiator:
          type: string
        knowledgeBaseId:
          type: string
        knowledgeInteractionId:
          type: string
        exchangeStart:
          type: string
          format: date-time
        exchangeEnd:
          type: string
          format: date-time
        status:
          type: string
        failedMessage:
          type: string
        bindingSet:
          $ref: '#/components/schemas/BindingSet'
    PostExchangeInfo:
      type: object
      properties:
        initiator:
          type: string
        knowledgeBaseId:
          type: string
        knowledgeInteractionId:
          type: string
        exchangeStart:
          type: string
          format: date-time
        exchangeEnd:
          type: string
          format: date-time
        status:
          type: string
        failedMessage:
          type: string
        argumentBindingSet:
          $ref: '#/components/schemas/BindingSet'
        resultBindingSet:
          $ref: '#/components/schemas/BindingSet'