openapi: "3.0.0"
info:
  title: Knowledge Engine Admin UI REST API
  
  description:
    This API provides information on Knowledge Engine Runtimes (todo), Smart Connectors, Knowledge Bases, and Knowledge
    Interactions in a Knowledge Engine Network.
  version: 1.3.0
  
paths:
  /rest/admin/sc/all/{include-meta}:
    get:
      summary: Get the Smart Connectors, Knowledge Bases, and Knowledge Interactions in a Knowledge Engine Network.
      tags:
        - admin API
      operationId: getAllSmartConnectors
      parameters:
        - name: include-meta
          in: path
          required: true
          description: Whether to include meta knowledge interactions.
          schema:
            type: boolean
      responses:
        '200':
          description: A list of Smart Connectors and their knowledge interactions.
          content:
            application/json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SmartConnector'
        '500':
          description: If a problem occurred.
          content:
            text/plain; charset=UTF-8:
              schema:
                type: string
  /rest/admin/reload:
    get:
      summary: Manually reload the admin-ui's smart connectors within the network. This is sometimes necessary when the initial load did not pick up all SCs correctly.
      tags:
        - admin API
      operationId: reloadSCs
      responses:
          '200':
            description: If the SC were reloaded.
          '500':
            description: If a problem occurred.

components:
  schemas:
    SmartConnector:
      type: object
      required: [knowledgeBaseId, knowledgeBaseName, knowledgeBaseDescription]
      properties:
        knowledgeBaseId:
          type: string
        knowledgeBaseName:
          type: string
        knowledgeBaseDescription:
          type: string
        leaseRenewalTime:
          type: integer
          minimum: 30
          maximum: 3600
          description: Include this property if you want to have your knowledge
            base automatically unregistered when you don't renew your lease. Expiry
            is checked periodically, so your knowledge base may actually be
            valid for longer than the given time.
        knowledgeInteractions:
          type: array
          items:
            $ref: '#/components/schemas/KnowledgeInteractionBase'
    KnowledgeInteractionBase:
      type: object
      required: [knowledgeInteractionType]
      discriminator:
        propertyName: knowledgeInteractionType
        mapping:
          AskKnowledgeInteraction: '#/components/schemas/AskKnowledgeInteraction'
          AnswerKnowledgeInteraction: '#/components/schemas/AnswerKnowledgeInteraction'
          PostKnowledgeInteraction: '#/components/schemas/PostKnowledgeInteraction'
          ReactKnowledgeInteraction: '#/components/schemas/ReactKnowledgeInteraction'
      properties:
        knowledgeInteractionId:
          type: string
        knowledgeInteractionType:
          type: string
        communicativeAct:
          $ref: '#/components/schemas/CommunicativeAct'
        prefixes:
          $ref: '#/components/schemas/Prefixes'
        connections:
          type: array
          items:
            $ref: '#/components/schemas/Connection'
        isMeta:
          type: string
    AskKnowledgeInteraction:
      required: [graphPattern]
      allOf:
        - $ref: '#/components/schemas/KnowledgeInteractionBase'
        - type: object
          properties:
            graphPattern:
              type: string
    AnswerKnowledgeInteraction:
      required: [graphPattern]
      allOf:
        - $ref: '#/components/schemas/KnowledgeInteractionBase'
        - type: object
          properties:
            graphPattern:
              type: string
    PostKnowledgeInteraction:
      required: [argumentGraphPattern]
      allOf:
        - $ref: '#/components/schemas/KnowledgeInteractionBase'
        - type: object
          properties:
            argumentGraphPattern:
              type: string
            resultGraphPattern:
              type: string
    ReactKnowledgeInteraction:
      required: [argumentGraphPattern]
      allOf:
        - $ref: '#/components/schemas/KnowledgeInteractionBase'
        - type: object
          properties:
            argumentGraphPattern:
              type: string
            resultGraphPattern:
              type: string
    CommunicativeAct:
      type: object
      required: [requiredPurposes, satisfiedPurposes]
      properties:
        requiredPurposes:
          type: array
          items:
            type: string
        satisfiedPurposes:
          type: array
          items:
            type: string
    Prefixes:
      type: object
      additionalProperties:
        type: string
        pattern: url
      description:
        If you include a Prefixes object when registering a knowledge interaction,
        you are allowed to use those prefixes in the graph pattern(s) that the 
        knowledge interaction contains. Keep in mind that the prefixes can only
        be used in your graph pattern during registration, and not within bindings.
    Connection:
      type: object
      required: [ knowledgeInteractionId]
      properties:
        knowledgeInteractionId:
          type: string